body {
  font-size: 14px;
}

:root {
  --zx-primary-color: #295dfa;
  --zx-primary-hover-color-lighter: #547dfb;
  --zx-primary-hover-color: #053eeb;
  --zx-border-color: #dcdfe6;
  --zx-border-radius-base: 6px;
  --zx-example-padding: 24px;
}

:root {
  --vp-c-brand: var(--zx-primary-color);
  --vp-c-brand-light: var(--zx-primary-hover-color);
  --vp-c-brand-lighter: var(--zx-primary-hover-color-lighter);
  --vp-c-brand-dark: var(--zx-primary-color);
  --vp-c-brand-darker: var(--zx-primary-hover-color);
}
.vp-doc table {
  width: 100%;
  display: table;
}
.decode pre {
  overflow: auto;
}
:root {
  --vp-layout-max-width: 1640px;
}
@media (min-width: 1280px) {
  .VPDoc .container .content {
    min-width: 1000px;
  }
}
@media (max-width: 1610px) {
  :root {
    --vp-layout-max-width: 1540px;
  }
  .VPDoc .container .content .content-container {
    max-width: 800px;
  }
  .VPDoc .container div.content {
    order: 1;
    margin: 0;
    min-width: 800px;
  }
}
@media (max-width: 1540px) {
  :root {
    --vp-layout-max-width: 1470px;
  }
}
.VPDoc .container .content .content-container {
  max-width: 1000px;
}

